<div class="contenido">
    <h1 class="titulo">BUENOS AIRES</h1>
    <app-ferias-detalle [titulo] = "'SECOND HAND DISCOS'"
                        [descripcion] = "'Venta de Vinilos nuevos y usados.'"
                        [productos] = "'Bolsos Selktor y Slipmats.'"
                        [instagram] = "'seconhanddiscos'"
    ></app-ferias-detalle>
    
    <app-ferias-detalle [titulo] = "'HAUS RECORD STORE'"
                        [descripcion] = "'Venta de Vinilos nuevos y usados.'"
                        [productos] = "'Indumentaria y Tote bags.'"
                        [instagram] = "'hausrecordstore'"
                        [pagina] = "'hausrecordstore.com'"
    ></app-ferias-detalle>
       
    <app-ferias-detalle [titulo] = "'CYBERWAX'"
                        [descripcion] = "'Venta de Vinilos nuevos e importados.'"
                        [productos] = "'Indumentaria y Tote bags.'"
                        [instagram] = "'cyberwax.ar'"
                        [pagina] = "'cyberwax.com.ar'"
    ></app-ferias-detalle>
    
    <h3 class="titulo">SAN FRANCISCO</h3>

    <app-ferias-detalle [titulo] = "'AMOEBA MUSIC'"
                        [descripcion] = "'Venta de vinilos.'"
                        [productos] = "'Indumentaria y Merch.'"
                        [instagram] = "'amoebasf'"
                        [pagina] = "'amoeba.com'"
    ></app-ferias-detalle>

    <h3 class="titulo">BERLIN</h3>

    <app-ferias-detalle [titulo] = "'DEEJAY.DE'"
                        [descripcion] = "'Venta online de discos nuevos.'"
                        [productos] = "'Equipos y accesorios.'"
                        [instagram] = "'deejay.de'"
                        [pagina] = "'deejay.de'"
    ></app-ferias-detalle>    

    <h3 class="titulo">BARCELONA</h3>

    <app-ferias-detalle [titulo] = "'SMALL BLACK DOTS'"
                        [descripcion] = "'Venta de discos nuevos y usados.'"
                        [productos] = "'Indumentaria, accesorios y merchandise.'"
                        [instagram] = "'small.black.dots'"
                        [pagina] = "'smallblackdots.netb'"
    ></app-ferias-detalle>  

    <h3 class="titulo">HOLANDA</h3>

    <app-ferias-detalle [titulo] = "'CLONE'"
                        [descripcion] = "'Venta de discos nuevos y usados.'"
                        [productos] = "'Merchandise.'"
                        [instagram] = "'clone.nl'"
                        [pagina] = "'clone.nl'"
    ></app-ferias-detalle> 
</div>
    
